*{
    background-image: linear-gradient(to bottom, rgb(90, 193, 214), blue);
}


h1{
    text-align: center;
}

p{
    margin: 10px;
    padding: 10px;
}

div section{
width: 600px;
height: 410px;
box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px rgba(0,0,0,0.05 0px 0px 0px 1px);
border: 5px solid #000;
margin-left: 450px;
padding-bottom: 18px;
overflow: auto;
}